.popular-links {
    flex-direction: row;
    width: 100%;
    height: fit-content;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(240px, (100% - 4 * 1rem) / 5), 1fr));
    gap: 1rem;
    justify-content: center;
}