.widget-grid {
    width: 100%;
    height: fit-content;
}

.widget-grid-wrapper {
    position: relative;
    width: 100%;
    height: fit-content;
    padding-bottom: 100px;
}

.widget-card {
    background: var(--color-background-primary);
    border-radius: var(--border-radius);
    color: var(--color-text-primary);
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.2s ease;
}

.widget-grid-wrapper {
    position: relative;
}

.react-resizable-handle-se {
    right: -6rem;
    bottom: -6rem;
    color: var(--color-text-primary);
}

.edit-button {
    background: transparent;
    border: none;
    color: white;
    right: 0.8rem;
    position: absolute;
}

.edit-button:hover {
    color: var(--color-primary-accent);
}

.edit-button-content {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.bottom-bar {
    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 200px;

    background-color: var(--color-transparent-primary);
    border-top: 1px solid var(--color-background-secondary);

    transform: translateY(100%);
    transition: transform 0.3s ease;

    z-index: 1000;
}

.react-grid-item.react-grid-placeholder {
    background: var(--color-transparent-primary);
    border-radius: var(--border-radius);
}

.bottom-bar.visible {
    transform: translateY(0);
}

.delete-container {
    position: absolute;
    z-index: 1001;
    background: rgb(255 0 0 / 0.3);
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
}

.toolbox-scroll {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    gap: 1rem;
    height: 100%;
    padding: 1rem;
}

.toolbox-item {
    height: 80%;
    width: 300px;
}